*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    width: 100%;
    height: 100%;
    font-family: "Roboto", sans-serif;
}
@font-face {
    font-family: monument;
    src: url(assets\fonts\MonumentExtended-Regular.otf);
}
#main{
    width: 100%;
    height: 100%;
    background-color: #03ebfc;
    padding-top: 0.1px;
    position: relative;
}
#nav{
    width: 100%;
    height: 5.5vw;
    margin-top: 1.8vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 0.2vw solid black;
    border-bottom: 0.2vw solid black;
}
#nav h2{
    background-color: bisque;
    height: 100%;
    width: 24%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 0.2vw solid black;
    font-size: 1.4vw;
}
#nav h1{
    background-color: bisque;
    border-right: 0.2vw solid black;
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monument;
    letter-spacing: -0.1vw;
}
#nav h2:nth-last-child(1){
    width: 10%;
}
#center{
    background-color: blueviolet;
    width: 100%;
    height: 86.25%;
    padding: 3.3vw;
    position:relative
}
#content{
    background-color: red;
    width: 100%;
    height: 100%;
    position: relative;
}
#content video{
    width: 100%;
    height: 100%;
    object-fit:cover;
}
#overlay{
    width: 100%;
    height: 40%;
    position: absolute;
    top: 60%;
    padding: 0vw 3vw;
}
#upper_overlay{
    background-color: cadetblue;
    margin-bottom: 2vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#upper_overlay h4{
    font-family: monument;
    font-size: 3.8vw;
    color: white;
    font-weight: 500;
}
#upper_overlay h2{
    color: white;
    padding: 2vw;
    border: 0.1vw solid white;
    border-radius: 50%;

}
#lower_overlay{
    background-color: cadetblue;
    display: flex;
    justify-content: space-between;
    border-top: 0.2vw solid white;
    padding-top: 0.8vw;
}
#lower_overlay h6{
    font-size: 1.38vw;
    color: white;
    font-weight: 300;
}
#lower_overlay i{
    color: white;
    font-size: 2vw;
    font-weight: 300;
}
#potraits{
    width: 100%;
    height: 40vh;
    background-color:rgb(161, 226, 199);
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
}
.container{
    width: 100%;
    height: 100%;
    display: inline-block;
    padding: 1vw;
    position: relative;
}
.container img{
    width: 14.5%;
    height: 85%;
    border-radius: 50%;
    margin: 1vw;
    object-fit: cover;
    animation: slide 20s linear infinite;
}
.container img:nth-child(2n){
    object-position: top;
}
@keyframes slide {
    0% {
      transform: translate3d(0, 0, 0);
    }
    100% {
      transform: translate3d(-1500px, 0, 0);
    }
}
#sort_by_alphabet{
    width: 100%;
    height: 12vh;
    background-color: #cac062;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0vw 4vw;
    margin: 2vw 0vw;
    border-top: 0.2vw solid black;
    border-bottom: 0.2vw solid black;
}
#sort_by_alphabet h5{
    font-size: 2vw;
    font-style: italic;
    margin-right: 2vw;
    font-weight: 500;
    cursor: pointer;
}
#sort_by_alphabet h6{
    font-size: 1.3vw;
    padding: 0.5vw;
    font-weight: 500;
    cursor: pointer;
}
#sort_by_alphabet h5:hover{
    text-decoration: underline;
}
#sort_by_alphabet h6:hover{
    border: 0.2vw solid black;
    border-radius: 50%;
}
#page1{
    width: 100%;
    height: 100%;
    border-top: 5px solid black;
    background-color: #ddc809;
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
    padding: 2vw 3.3vw;
}
#page1 img, #p2_right img, #page3 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#p1_left{
    background-color: aqua;
    width: 55%;
    height: 100%;
}
#p1_right{
    background-color: aqua;
    width: 42.5%;
    height: 100%;
    position: relative;
}
#p1_right_text{
    position: absolute;
    bottom: 0%;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
}
#p1_right_text_left{
    width: 40%;
}
#p1_right_text_right{
    width: 50%;
}
#page2{
    border-top: 5px solid black;
    background: #ddc809;
    width: 100%;
    height: 100%;
    padding: 2vw 3.3vw;
    display: flex;
    justify-content: space-between;
}
#p2_left{
    background-color: #03ebfc;
    width: 37.5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top:10%;
}
#p2_right{
    background-color: #03ebfc;
    width: 60%;
}
#page3{
    border-top: 5px solid black;
    background-color: #ddc809;
    width: 100%;
    height: 100%;
    padding: 2vw 3.3vw;
}
#page4{
    border-top: 5px solid black;
    background-color: #ddc809;
    width: 100%;
    height: 100%;
    padding: 2vw 3.3vw;
    padding-bottom: 10vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#updates h1{
    font-size: 5vw;
    text-align: center;
    font-family: 'monument';
    text-transform: uppercase;
    letter-spacing: -1px;
    margin-bottom: 4.5vw;
}
#page4 .elem{
    display: flex;
    justify-content: space-between;
    align-items:center;
    border-top: 3px solid black;
    padding: 2.5vw 2vw;
    padding-right: 20vw;
    padding-bottom: 1.8vw;
}
#page4 .elem h3{
    text-transform: uppercase;
    font-size: 1.3vw;
}
.inner_elem2{
    width: 33%;
}

#page4 .elem:last-child{
    border-bottom: 3px solid black;
}
#page5{
    border-top: 5px solid black;
    background-color: #ddc809;
    width: 100%;
    height: 100%;
    padding: 2vw 3.3vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#p5_left{
    background-color: #03ebfc;
    width: 48.5%;
    height: 100%;
}
#p5_left img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#p5_right img{
    width: 100%;
    height: 100%;
    object-fit:contain;
    object-position: bottom;
    object-position: 0 47vh;
}
#p5_right{
    background-color: #03ebfc;
    width: 48.5%;
    height: 100%;
    position: relative;
}
#p5_right_text{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    background-color: #ffffff;
    padding-bottom: 10vh;
}
#p5_right_image{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
#p5_right_image1{
    background-color: rgb(7, 7, 7);
    width: 48%;
    height: 100%;
}
#p5_right_image2{
    background-color: rgb(0, 0, 0);
    width: 48%;
    height: 100%;
}
#page6{
    border-top: 5px solid black;
    background-color: #ddc809;
    width: 100%;
    height: 100%;
    padding: 2vw 3.3vw;
}
#page6 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 -82vh;
}
#page7{
    border-top: 5px solid black;
    background-color: #ddc809;
    width: 100%;
    height: 100%;
    padding: 2vw 3.3vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#p7_left{
    background-color: #03ebfc;
    width: 55%;
    height: 100%;
}
#p7_left img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#p7_right{
    background-color: #03ebfc;
    width: 42.5%;
    height: 100%;
    position: relative;
}
#p7_right_image{
    background: #000000;
    width: 100%;
    height: 100%;
}
#p7_right_image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 -11vh;
}
#p7_right_text{
    background-color: #ffffff;
    position: absolute;
    bottom: 0%;
    left: 0%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
#p7_right_text_left{
    width: 45%;
}
#p7_right_text_right{
    width: 45%;
}
#page8{
    border-top: 5px solid black;
    background-color: #ddc809;
    width: 100%;
    height: 100%;
    padding: 2vw 3.3vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
#page8 #non_marque{
    width: 100%;
    height: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3vw;
}
#page8 #non_marque #first{
    width: 20%;
    height: 100%;
    background-color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    font-family: 'monument';
}
#page8 #non_marque #second{
    width: 40%;
    height: 100%;
    background-color: #ffffff;
    gap: 1.5vw;
}
#page8 #non_marque #third{
    width: 40%;
    height: 100%;
    background-color: #ffffff;
    gap: 1.5vw;
}
.top_text{
    width: 100%;
    height: 25%;
}
.bottom_image{
    width: 100%;
    height: 75%;
}
.bottom_image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#page9{
    background:#ddc809;
    padding: 2vw 0;
    width: 100%;
    height: 60%;
}
#footer{
    width: 100%;
    height: 70%;
    border-top: 0.2vw solid black;
    border-bottom: 0.2vw solid black;
    margin-top: 6vw;
    display: flex;
}
#footer4{
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #03ebfc;
}
#footer1{
    width: 25%;
    font-family: 'monument';
    font-size: 1.8vw;
    padding: 1.8vw;
}
#footer2, #footer3{
    border-right: 0.2vw solid black;
    background-color: #03ebfc;
    width: 20%;
}
#footer2, #footer3, #footer4{
    height: 100%;
    padding-top: 0.8vw;
    padding: 2.5vw 0;
}
#footer2 h2, #footer3 h2, #footer4 h2{
    font-weight: 600;
    text-align: center;
}
#footer4_bottom{
    background-color: #03ebfc;
    width: 100%;
    height: 65%;
    border-top: 0.2vw solid black;
    text-align: center;
    font-size: 1vw;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1vw;
    padding-left: 25px;
}
#footer4 h3{
    font-weight: 500;
    text-align: left;
}